<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
	<li><a href="index.html">應用說明</a></li>
	<li><a href="toc.html">目錄</a></li>
	<li><a href="vision.html">視覺化邏輯模型</a></li>
 	<li class="dropdown">
		<a href="artifacts.html">規範文件<b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li>
				<a href="capabilitystatements.html">能力聲明</a>
			</li>
			<li>
				<a href="searchparameters.html">查詢參數</a>
			</li>
			<li>
				<a href="models.html">邏輯模型</a>
			</li>
			<li>
				<a href="profiles-and-extensions.html">FHIR Profiles及Extensions</a>
			</li>
			<li>
				<a href="terminologies.html">專門術語</a>
			</li>
		</ul>
	</li>
 	<li><a href="examples.html">範例</a></li>
	<li><a href="downloads.html">結構定義與範例檔下載</a></li>
	<li><a href="security.html">安全性</a></li>
</ul>      
